.material-symbols-outlined, .kei-icon::before, .sustainability-icon::before{
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.kei-icon::before,
.sustainability-icon::before {
	font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px !important;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.kei-icon-leaf::before {
	content: "eco";
}

.kei-icon-renewable-energy::before {
	content: "sunny";
}

.kei-icon-energy-consumption::before {
	content: "bolt";
}

.kei-icon-transportation-energy::before {
	content: "local_shipping";
}

.kei-icon-carbon-emissions::before {
	content: "co2";
}

.kei-icon-recyclable-waste::before {
	content: "recycling";
}


.sustainability-icon-carbon-emissions::before {
	content: "co2";
}

.sustainability-icon-water-waste::before {
	content: "water_drop";
}